@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #252A34;
    --textColor: #EAEAEA;
    --highlight: #FF2E63;
    --borderColor: #08D9D6;
}

*{
    margin:0;
    box-sizing: border-box;
    padding:0;
}
body{
    height:100vh;
    width: 100%;
    background-color: #252A34;
}